<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.windesheim.fighttheepidemics" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/redcross_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" >
            <intent-filter>
                <meta-data
                    android:name="com.google.android.gms.version"
                    android:value="@integer/google_play_services_version" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HealthActivity" ></activity>
        <activity android:name=".MySettingActivity" ></activity>
        <activity android:name=".HealthCheckActivity" ></activity>
        <activity android:name=".HealthReportActivity" ></activity>
        <activity android:name=".HealthMoreinfoActivity" ></activity>
        <activity android:name=".SignInActivity" ></activity>
        <activity android:name=".HighChanceActivity" ></activity>
        <activity android:name=".MediumChanceActivity" ></activity>
        <activity android:name=".LowChanceActivity" ></activity>
        <activity android:name=".OtherChanceActivity" ></activity>
        <activity android:name=".CheckResultActivity" ></activity>

    </application>

</manifest>

