<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.windesheim.fighttheepidemics" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/redcross_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- or android:theme="@anroid:style/Theme.Holo.Light"-->

        <activity
            android:name="nl.windesheim.fighttheepidemics.MainActivity">
            <intent-filter>
                <meta-data
                    android:name="com.google.android.gms.version"
                    android:value="@integer/google_play_services_version" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="nl.windesheim.fighttheepidemics.HealthActivity" ></activity>
        <activity
            android:name="nl.windesheim.fighttheepidemics.MySettingActivity"
            android:label="activity_my_setting"
            android:parentActivityName="nl.windesheim.fighttheepidemics.MainActivity">
            <!--To support aplit actionbar below API level 14-->
            <meta-data android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity android:name="nl.windesheim.fighttheepidemics.HealthCheckActivity" ></activity>
        <activity android:name="nl.windesheim.fighttheepidemics.HealthReportActivity" ></activity>
        <activity android:name="nl.windesheim.fighttheepidemics.HealthMoreinfoActivity" ></activity>
        <activity android:name="nl.windesheim.fighttheepidemics.SignInActivity" ></activity>
        <activity android:name="nl.windesheim.fighttheepidemics.HighChanceActivity" ></activity>
        <activity android:name="nl.windesheim.fighttheepidemics.MediumChanceActivity" ></activity>
        <activity android:name="nl.windesheim.fighttheepidemics.LowChanceActivity" ></activity>
        <activity android:name="nl.windesheim.fighttheepidemics.OtherChanceActivity" ></activity>
        <activity android:name="nl.windesheim.fighttheepidemics.CheckResultActivity" ></activity>
    </application>


</manifest>

